<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sensie.plugin_sensie_example">

    <application
        tools:replace="android:label, android:name"
        android:label="plugin_sensie_example"
        android:name="io.flutter.app.FlutterApplication">
    </application>

</manifest>
